<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Maketa Home</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/img/icons/" type="image/png">

  <link rel="stylesheet" href="../../static/css/style.css" />
  <link rel="stylesheet" href="../../static/css/global.css" />

</head>

<body>
  <!-- =============
  MOBILE VERSION
  ================= -->
  <div class="mobile">

    <header>
      <img class="logo" src="../../static/img/maketa.jpg" alt="Logo">
        <div class="contatos">

            <!-- Whatsapp -->
            <a href="https://wa.me/5551995443291" target="_blank">
              <div class="contato-links">
                <img src="../../static/img/icons/icon_phone.svg" alt="">
                <p>51 99544 3291</p>
              </div>
              
            <!-- Instagram -->
            <a href="https://www.instagram.com/maqueta.arq/" target="_blank">
              <div class="contato-links">
                <img src="../../static/img/icons/icon_instagram.svg" alt="">
                <p>maketa.arq</p>
              </div>
            </a>    

             <!-- Facebook -->
            <a href="https://www.instagram.com/maqueta.arq/" target="_blank">
              <div class="contato-links">
                <img src="../../static/img/icons/icons8-facebook-novo-100.png" alt="">
                <p>maketa</p>
              </div>
            </a>    

        </div>
    </header>



  </div>

  <div style="height: 400vh;"></div>


  <!-- Botão do whatsapp -->
  <a href="https://wa.me/5551995443291" class="whatsapp-float" target="_blank" rel="noopener noreferrer">
    <img src="../../static/img/icons/whatsapp_logo.png" alt="WhatsApp" />
  </a>

  <script src="/static/js/script.js"></script>
</body>

</html>