<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Maketa Home</title>
  <meta charset="UTF-8" />
  <link rel="icon" href="/static/img/icons/favicon_bresolin_rounded.png" type="image/png">

  <link rel="stylesheet" href="../static/css/style.css" />
  
</head>

<body>
  <!-- =============
  MOBILE VERSION
  ================= -->
  <div class="mobile">
    <header>
      <img class= "logo" src="../static/img/maketa.jpg" alt="Logo">
      <div class="backg-wrapper">
        <img class="backg" src="../static/img/backg_img.jpg" alt="Imagem de fundo">
      </div>

    </header>
  </div>
  









  <script src="/static/js/script.js"></script>
</body>
</html>